<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>EarthSkyLab Vision | {{ page.title }}</title>
<meta name="description" content="EarthSkyLab community vision and discussion.">
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1">
<meta http-equiv="ClearType" content="true">
<meta name="keywords" content="EarthSkyLab, community, vision, intentional community, eco-village, escape the city">


<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic|Alegreya' rel='stylesheet' type='text/css'>


<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/public/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/public/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/public/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/public/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/public/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/public/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/public/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/public/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/public/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/public/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/public/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/public/favicon/mstile-310x310.png" />

<meta name="application-name" content="EarthSkyLab.vision">


<!-- Stylesheets -->
    <link rel="stylesheet" href="/public/barebones/style.css">
<!-- Stylesheets -->

<!-- HTML 5 shiv -->
<script src="/public/barebones/html5shiv.js"></script>


<!-- Add to any...  -->

<!-- Load scripts quick smart -->
    <!--[if lt IE 9]>
        <script src="/public/barebones/html5shiv.js"></script>
        <link rel="stylesheet" href="/public/barebones/style-ie.css" />
    <![endif]-->
<!-- Load scripts quick smart -->


<!-- START - Facebook Open Graph Meta Tags-->
<meta property="og:locale" content="en_GB" />
<meta property="og:site_name" content="EarthSkyLab.vision" />
<meta property="og:url" content="{{page.url}}"/>
<meta property="og:type" content="article"/>
{% for an_author in site.authors %}
	{% assign author_id = an_author.path | split:"/" | last | split:"." | first %}
	{% if author_id == page.author %}
		{% assign author = an_author %} 
	{% endif %}
{% endfor %}
{% if author %}
<meta property="article:author" content="{{author.facebook}}" />
{% endif %}
<meta property="og:title" content="{{page.title}} {{author.title}}" />
<meta property="article:publisher" content="{{site.facebook}}" />
<meta property="og:image" content="{{site.url}}public/logo-compact.jpg" />
<meta property="og:description" content="{{ page.title }}  {{ page.excerpt | strip_html }}" />

<!-- END - Facebook Open Graph Meta Tags -->


<link rel="stylesheet" href="http://static.addtoany.com/menu/svg/icons.11.svg.css" />

</head>
