{% assign about = (site.pages | where: "path" , "about.md") %}
{% if include.show-contents %}
	{{about[0].content}}
{% else %}
	<a href="{{ about[0].url }}"><h2 class="esl-site-map">{{ about[0].title }}</h2></a>
{% endif %}

{% assign articles = site.pages | sort:"path" %}

{% assign chapter = "" %}
{% assign section = "" %}
{% for article in articles %}
	{% assign patharray = article.path | split:"/" %}
	{% assign pathlen = patharray | size %}
	
	{% if include.show-contents %}
		{% assign pagebreak = "esl-pbb" %}
	{% endif %}
	
	{% if pathlen > 1 and patharray[1] != "index.html" %}    		
		{% if chapter != patharray[1]  %}
			  {% assign chapter = patharray[1] %} 

			  {% assign foo = chapter | split: " " %}
			  <h1 class="esl-site-map {{pagebreak}}">
			  		{% assign pagebreak = "" %}
				  <center><img src="/pages/{{chapter}}/icon.png" alt="{{ foo[1] }}" class="esl-chapter-icon"></center>
				  {{ foo[1] }}
			  </h1>
		{% endif %}
    	{% if pathlen > 3 %}    		
    		{% if section != patharray[2] %}
    			  {% assign section = patharray[2] | slice: 3,4 %}

				  {% assign foo = section | split: " " %}
				  <h2  class="esl-site-map {{pagebreak}}"> {{ foo[1] }}</h2>
			  		{% assign pagebreak = "" %}				  
			{% endif %}
			{% else %}
			  		{% assign pagebreak = "" %}				  			
		{% endif %}
		
		{% if include.show-contents %}
			<div class="esl-page">
		{% else %}
			<a href="{{ article.url }}">
		{% endif %}
		
		{% if article.noimgtitle or include.noimages %}
			<h3  class="esl-site-map {{pagebreak}}">{{ article.title }}</h3>
		{% else %}
   			<h3  class="esl-site-map {{pagebreak}}"><img width="100%" src = "{{ article.url | replace:".html",".jpg"}}" alt="{{ article.title }}"/></h3>
   		{% endif %}
   		</a>
		{% if include.show-contents %}
			{{article.content}}
			
			{%if article.tag != null %}
			{% assign preamble_shown = 0 %}
			{% for post in site.posts %}
				{% if post.tags contains article.tag %}
					{%if preamble_shown == 0 %}
						{% assign preamble_shown = 1 %}
						<div class="esl-related-posts">
							<img src="/public/blog.png" alt="Blog" class="esl-chapter-icon">
					{% endif %}
					<a href="{{post.url}}">{{post.title}}</a>, &nbsp;
				{% endif %}
			{% endfor %}
			{%if preamble_shown == 1 %}
				</div>
			{% endif %}
			</div>
			
		{% endif %}
			
		{% endif %}
	{% endif %}
{% endfor %}
