---
layout: basic-page
---
	{% assign post = page %} {% comment %} for post-image and other function calls... {% endcomment %}
	{% for an_author in site.authors %}
		{% assign author_id = an_author.path | split:"/" | last | split:"." | first %}
		{% if author_id == page.author %}
			{% assign author = an_author %} 
		{% endif %}
	{% endfor %}

     <article role="main" class="primary-content type-post  author-{{page.author}}">
            <div class="wrapper">
            <header>
		            
			<div class="post">
			  <a href="/authors/{{page.author}}.html">
			  	<img src = "{% include post-image.html post=page %}" alt="{{ page.title }}"/>
			  </a>
			  <div class="post-info cf">
				  <h1 class="post-title">{{page.title}}</h1>
				  <div class="post-date">
					  <a href={{author.url}}>{{author.title}}</a><br/>
					  {{ page.date | date_to_string }} 
				</div>
			  </div>
			  
			  {% assign post = page %}
			  {% include post-tag-list.html %}

			  {{ content }}
			  {% include share-buttons.html %}

			  <div class="esl-paging cf">
			  {% if page.previous %}
			  	<div class="esl-previous-page"><a href="{{page.previous.url}}"><< {{page.previous.title}}</a></div>
			  {% endif %}
			  
			  {% if page.next %}
			  	<div class="esl-next-page"><a href="{{page.next.url}}">{{page.next.title}} >></a></div>
			  {% endif %}
			  	</div>
			  

			</div>
        </div>
    </article>
        


    <section class="related-posts">
        <div class="wrapper">
            <div class="related-posts">
                <h3>Related Blogs</h3>
                <div class="esl-related-posts">
				{% for post in site.related_posts limit:3 %}
						{% include related-blog-block.html %}		
				{% endfor %}
				</ul>
            </div>
        </div>
    </section>
